:root {
    --bg-primary-color: #FFFFFF;
    --bg-secondary-color: #F2F2F2;
    --text-primary-color: #000000;
    --text-secondary-color: #CDCDCD;
    --button-bg-color: #000000;
    --button-text-color: #FFFFFF;
    --selected-color: #DBDBDB;
    --textbox-bg-color: #F1F1F1;
    --textbox-text-color: #898989;

  }
  
  @media (prefers-color-scheme: dark) {
    :root {
        --bg-primary-color: #181818;
        --bg-secondary-color: #2A2D33;
        --text-primary-color: #FFFFFF;
        --text-secondary-color: #6C6C6C;
        --button-bg-color: #FFFFFF;
        --button-text-color: #000000;
        --selected-color: #464646;
        --textbox-bg-color: #292929;
        --textbox-text-color: #CECECE;
    }
  }

.background-color {
    background-color: var(--bg-primary-color);
}

.text-color {
    color: var(--text-primary-color);
}