@import "./Public.css";

:root {
    --sidebar-bg-color: linear-gradient(180deg, rgba(212, 90, 255, 0.02) 0%, rgba(255, 123, 218, 0.04) 100%), #F2F2F2;
  }
  
@media (prefers-color-scheme: dark) {
    :root {
        --sidebar-bg-color: linear-gradient(180deg, rgba(42, 45, 51, 0.5) 0%, rgba(111, 14, 84, 0.1) 78.12%), linear-gradient(180deg, rgba(42, 45, 51, 0.5) 0%, rgba(44, 69, 92, 0.1) 100%), #2A2D33;
    }
  }

.sidebar {
    background: var(--sidebar-bg-color);
    width: 250px;
    height: 100vh;
    display: flex;
    align-items: baseline;
    position: fixed;
    left: 0;
    /* z-index: 999; */
}

.sidebar-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding-top: 100px;
    /* max-width: 1500px; */
    /* background-color: black */
  }

.nav-menu {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    width: 100%;
}

.nav-item {
    margin: auto;
    height: 40px;
    width: 90%;
}

.nav-text {
    color: var(--text-primary-color);
    font-weight: bold;
    font-size: 15px;
    padding-left: 30px;
}

.nav-links.isDisabled > .nav-text, .nav-links.isDisabled {
    color: var(--text-secondary-color) !important;
    cursor: default !important;
    pointer-events: none !important;
}

.nav-links {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.nav-links:hover {
    background-color: var(--selected-color);
    width: 100%;
    transition: all 0.2s ease-out;
}

.user-profile {
    display: grid;
    grid-template-columns: 80px auto;
    position: fixed;
    bottom: 0;
    width: 18vw;
    height: 80px;
    padding: 1vw;
}

.user {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user:hover {
    background-color: var(--selected-color);
    transition: all 0.2s ease-out;
}

.user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.username {
    color: var(--text-primary-color);
    font-size: 15px;
    font-weight: bold;
    line-height: 60px;
}