:root {
    --bg-primary-color: #FFFFFF;
    --bg-secondary-color: #F2F2F2;
    --text-primary-color: #000000;
    --text-secondary-color: #CDCDCD;
    --button-bg-color: #000000;
    --button-text-color: #FFFFFF;
    --selected-color: #DBDBDB;
    --textbox-bg-color: #F1F1F1;
    --textbox-text-color: #898989;

  }
  
  @media (prefers-color-scheme: dark) {
    :root {
        --bg-primary-color: #181818;
        --bg-secondary-color: #2A2D33;
        --text-primary-color: #FFFFFF;
        --text-secondary-color: #6C6C6C;
        --button-bg-color: #FFFFFF;
        --button-text-color: #000000;
        --selected-color: #464646;
        --textbox-bg-color: #292929;
        --textbox-text-color: #CECECE;
    }
  }

.sidebar {
    background-color: var(--bg-secondary-color);
    width: 250px;
    height: 100vh;
    display: flex;
    align-items: baseline;
    position: fixed;
    left: 0;
    /* z-index: 999; */
}

.sidebar-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding-top: 100px;
    /* max-width: 1500px; */
    /* background-color: black */
  }

.nav-menu {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    width: 100%;
}

.nav-item {
    margin: auto;
    height: 50px;
    width: 80%;
}

.nav-text {
    font-weight: bold;
    font-size: 15px;
    padding-left: 15px;
}

.isDisabled {
    color: var(--text-secondary-color) !important;
    cursor: default !important;
    pointer-events: none;
}

.nav-links {
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.nav-links:hover {
    background-color:  var(--selected-color);
    width: 100%;
    transition: all 0.2s ease-out;
}

.user-profile {
    display: grid;
    grid-template-columns: 80px auto;
    position: fixed;
    bottom: 0;
    width: 18vw;
    height: 80px;
    padding: 1vw;
}

.user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.username {
    color: var(--text-primary-color);
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    margin: 20%;
    
}